body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

button#back-button {
  background-color: pink;
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
}

#confession-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#confession-container p {
  font-size: 24px;
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
